h1 {
    color:#F2C166;
}
img{
    width: 400px;
}
#thirdDiv{
    height: 600px;
    width: 500px;
    background-color: #D9663D;
    padding: 50px;
    border: 10px solid #F2884B;
}
#spanId{
    font-size: 18px;
    margin: 50px;
}